# Environment
.env

# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
dist/
build/
*.egg-info/

# Lambda deployment
package/

# IDE
.vscode/
.idea/

# Logs
*.log
